.DS_Store
# Ignora l'intera cartella var/
/var/*
# Ignora la cartella vendor/ (dipendenze Composer)
/vendor/
#Ignora il file secrets.php (contiene la chiave API)
secrets.php
#Ignora il file di log
api_response_debug.log
/mailing.env
