<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect da HTTP a HTTPS
    RewriteCond %{HTTP_HOST} !^localhost$ [NC]
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Escludi cartelle specifiche
    RewriteCond %{REQUEST_URI} ^/Delivery/(Smarty/css|Smarty/Js|images|altro)/ [NC]
    RewriteRule ^ - [L]

    # Se è file o dir fisico, servilo direttamente
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Altrimenti riscrivi tutto a public/index.php
    RewriteRule ^(.*)$ /index.php [QSA,L]


    <Files .env>
		Order allow,deny
		Deny from all
	</Files>




</IfModule>
